<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">		
<hibernate-configuration>
    <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">jdbc:mysql://localhost/shuttle_bus</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">12345</property>
        <!--  <property name="current_session_context_class">thread</property> -->
   <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
   <property name="show_sql">true</property>
   <property name="hbm2ddl.auto">update</property>
  
   <mapping resource ="user_master.hbm.xml" />
   <mapping resource ="role_master.hbm.xml" />
   <mapping resource ="batch_master.hbm.xml" />
   <mapping resource ="passenger.hbm.xml" />
   <mapping resource ="ticket_donation.hbm.xml" />
   <mapping resource ="bus_per_schedule.hbm.xml" />
   <mapping resource ="destination_master.hbm.xml" />
   <mapping resource ="bus_report_table.hbm.xml" />
   <mapping resource ="schedule_table.hbm.xml" />
   <mapping resource ="bus_master.hbm.xml" />
   <mapping resource ="permission.hbm.xml" />
   <mapping resource ="emergency_request.hbm.xml" />
  
  </session-factory>
</hibernate-configuration>
