@CHARSET "UTF-8";
body {
    margin: 0;
    
}
.profile{
	width: 50px;
	height: 50px;
	margin-top: 7px;
}
nav{
	color:#fff;
	background-color:#29b6f6;
}
nav .brand-logo{
	color:gray;
}
nav ul li{
	margin-left: 35px;
	height: 50px!important;
	width: 50px!important;
}
nav ul a {
    width: 80px;
    height: 64px;
}
.btn{
	background-color:orange !important;
	padding: 0 1rem;
	letter-spacing: 0px;
	box-shadow:unset;
}
.logout{
	background-color:#fff !important;
	color:#64B5F6;
}
.btn-large{
	background-color:#ffa726 !important;
}
.leave{
	background-color:#fff !important;
	color:#64B5F6;
	margin-top: 20px;
	
}
.tabs.tabs-transparent .tab a,
 .tabs.tabs-transparent .tab.disabled a,
  .tabs.tabs-transparent .tab.disabled a{
  color:#fff;
    
  }
  
  .tabs.tabs-transparent .tab a.active {
   color: #fff;
   font-size:18px;
   font-weight:bold;
}
 .tabs.tabs-transparent .tab a:hover{
 	color: #fff;
 	font-size:16px;
 	font-weight:bold;
 	
 }
 .tabs.tabs-transparent .indicator{
 border-bottom: 3px solid #ffa726 !important;
 }
 .nav_row{
 	margin-bottom:0px;
 }
 .title{
 	color: #64B5F6;
 	text-align:center;
 	margin-top:40px;
 	margin-bottom:25px;
 }
 .title_new_bus{
 	color: #64B5F6;
 	text-align:center;
 	margin-top: 0.5rem;
 	margin-bottom:0.5rem;
 }
 .bordered tr,.bordered th,.bordered td{
 	border:1px solid gray;
 }
 .set_schedule a,.detail a{
 	color:#0d47a1;
 	cursor: pointer;
 	
 }
 .set_schedule a:hover,.detail a:hover{
 	color: #64B5F6;
 	text-shadow: 2px 2px 3px #bbdefb;
 }
 .modal{
 	top:21% !important;
 	overflow-x: hidden;
 	
 }
 .modal_title{
 	text-align:center;
 	color: #64B5F6;
 	margin:0.1rem 0 1.5rem 0;
 }
 .modal_destination{
 	text-align:right;
 	color:#64B5F6;
 }
h6{
	color:gray;
}
.border{
	border:1px solid gray;
	margin-top:20px;
}
.schedule_table td{
	padding:20px 5px;
}
.input-field{
margin-top: 0px;
}
 input[type="text"],input[type="password"],input[type="email"],.select-wrapper input.select-dropdown{
 	margin:0px;
 	height:1.5rem;
 }
 .dropdown-content li > a, .dropdown-content li > span{
 	color:#64B5F6;
 }
 input.valid[type="text"], input.valid[type="text"]:focus,input[type="text"]:focus:not([readonly]),
 input.valid[type="email"], input.valid[type="email"]:focus,input[type="email"]:focus:not([readonly]),
 input.valid[type="password"], input.valid[type="password"]:focus,input[type="password"]:focus:not([readonly]){
 	border-bottom: 1px solid #2979ff !important;
 	box-shadow: 0 1px 0 0 #2979ff !important;
 }
 .btn-flat{
 	background-color:#64B5F6;
 	color:white;
 	margin-right:10px !important;
 }
 .modal .modal-content{
 	padding: 30px 40px;
 	
 }
 .report_date{
 	margin-bottom: 25px;
 }
 .dropdown-content{
 	max-height: 250px !important;
 }
 .modal_new_bus{
 	max-height: 55%;
 	top:30% !important;

 }
 table {
    color:#424242
 }
 .page-footer {
		padding-top: 20px;
		margin-top:100px;
		background-color:#29b6f6;
}
.add_s{
	display:block;
	font-size:17px;
	color:#29b6f6;
	padding: 2px;
	width: 80px;
}
.add_s:hover{
	cursor:pointer;
	
}
.icon{
	font-size:16px !important;
}
.add_input .select-wrapper input.select-dropdown{
	
}
.add_input td{
	border: none;
}
input[type="text"]:disabled, input[type="text"]{
	color:gray !important;
}
.edit_bus_class{
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 15px;
	
}
.footer_bus_edit{
	height: 80px !important;
	padding: 20px 15px !important;
}

.flatpickr-time input.flatpickr-hour, .flatpickr-time input.flatpickr-minute, .flatpickr-time input.flatpickr-second{
	height: inherit !important;
}
.modal_schedule{
	width: 75%;
}
.delete_icon i:hover{
	cursor: pointer;
	color:#F50057;
}
.delete_icon {
	color: #E91E63;
}
.select-wrapper span.caret{
	font-size: 5px;
}