@CHARSET "UTF-8";

.container {
    width: 80%!important;
}
.profile{
	width: 50px;
	height: 50px;
	margin-top: 15px;
}
nav{
	background-color:#03a9f4!important;
	color:#fff;
	height: 80px;
	line-height: 80px;
}
nav ul li{
	margin-left: 10px;	
}

li .btn{
	background-color:#03a9f4;
	padding: 0 1rem;
	letter-spacing: 0px;
	box-shadow: unset;
}
.logout{
	background-color:#fff !important;
	color:#03a9f4;
} 

.leave, .confirm{
	background-color:#64B5F6 !important;
	letter-spacing: 0px;
	box-shadow: unset;
	
}

.center_item{
	align-items: center;
}
.title{
	text-align:center;
	margin-top:40px;
	color:#64B5F6;
}
table{
	color:#616161;
	
}
.bordered th, .bordered td{
	border: 1px solid gray;
}
.page-footer {
	padding-top: 20px;
	background-color: #64B5F6;
	margin-top:100px;
}