@CHARSET "UTF-8";
.container {
	    width: 80%;
	}
  	.pickmeup .pmu-instance nav {
  		height: 25px!important;
  		background-color: black;
  	}
  	input[type=text]:not(.browser-default){
  		    border-bottom: 0px solid #9e9e9e!important;
  	}
  	.input-field{
  		height: 39px;
  		margin-top: -3px;
  		margin-bottom: -3px;
  	}
  	.bookingBtn{
  		width: 100%;
  		height: 100%;
  	}
  	.custom_input{
  		border-right: 1px solid #f8f4f4;
  	}
  	.row_book{
  		background: white;
  		padding: 0;
  		border-radius: 2px;
  	}
  	.row_mobileBook {
	    margin-left: 5px;
	    margin-right: 5px;
	}
  	.custom_book{
  		margin: 0;
  		border-radius: 0;
  		background-color: blue; 
  	}
  	.sch_table{
  		border: 1 solid black!important;
  	} 
  	.mobile_schedule{
  		width: 100%;
  	}
  	.profile{
  		width: 60px;
  		height: 60px;
  	}
  	.dropdown-user-info{
  		height: 64px;
  	}
  	[type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
  		  border: 2px solid #fffdfc;
		}
		[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
		    background-color: White;
		}
		[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
		    border: 2px solid #FFFFFF;
		}
	.option_label{
		color: white;
	}
	.modal_header{
		color:blue;
	}
	.bordered th, .bordered td {
   		 border: 1px solid gray;
	}
	.r_book{
		padding-top: 10px;
    	padding-bottom: 1px;
	}
	.r_book input[type=text]:not(.browser-default){
		border-bottom: 1px solid #9e9e9e!important;
	}
	.r_book .option_label {
    	color: black;
	}
	.r_book [type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
  		  border: 2px solid #BDBDBD;
		}
	.r_book [type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
		    background-color: #BDBDBD;
		}
	.r_book [type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
		    border: 2px solid #BDBDBD;
		}
	.modal{
		width: 80% !important;
	}
	.m_header{
		    margin-bottom: -6px !important;
			padding-bottom: 20px;
		    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	}
	#donateTicket{
		width:450px!important;
		height: 350px!important;
	}
	.donate_select{
		margin-top: -10px;
	}
	